<div layout-padding="" flex="" layout="row" class="flat" style="width:100%; height:100%">
  <!-- <div flex="" layout="" layout-sm="column">
  </div> -->
  <md-content flex="" style="background-color:transparent;">
    <div class="ic" flex="">
      <form name="loginForm">

        <div id = "img"> </div>
        <h2 class="md-display-1" style="text-align:center; color:#FFFFFF">Dashboard</h2>
        <p class="md-subhead" style="text-align:center; color:#FFFFFF">Veuillez vous connecter</p>
        <md-input-container>
            <label style="color:#FFFFFF">Utilisateur</label>
            <input style="color:#FFFFFF" ng-required="true" name="username" ng-model="project.username">
        </md-input-container>
        <md-input-container>
            <label style="color:#FFFFFF">Mot de passe</label>
            <input style="color:#FFFFFF" type="password" ng-required="true" name="password" ng-model="project.password">
        </md-input-container>
        <md-button ng-disabled="loginForm.$invalid" ng-click="signIn(project)" style="width: 100%;" class="md-raised button md-primary">Connexion</md-button>
      </form>
    </div>
  </md-content>
</div>
