html{
  background-color:#F5F5F5;
}

body {
  background-color: #F5F5F5 !important;
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}


.ic {
	width: 250px;
	margin: 0 auto;
	top: 50%;
	margin-top: -302px;
	position: absolute;
	left: 50%;
	margin-left: -125px;
}

.flat {
  background-image:url("https://lh5.googleusercontent.com/-nyTv-FiKmKY/U5GZmymo2qI/AAAAAAAABks/FKsoEvgnKdA/w1920-h1080/vVsVx5p.png");
}

#img{
    top: 50%;
    left: 50%;
    /*position:absolute;*/
    background:url("https://i.ytimg.com/vi/5AgLOeCLtYM/maxresdefault.jpg") center no-repeat;
		background-size: cover;
    height: 12em;
		width: 12em;
		border-radius: 50%;
		margin-left: 45px;
		/*border: 1px solid #ebebeb;*/
		box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
}

.faceComment {
  border-radius: 40px;
  border: 1px solid #ddd;
  width: 35px;
  height: 35px;
  margin: 10px;
}

@font-face {
    font-family: 'twitter'; /*a name to be used later*/
    src: url('/font/twitter.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'facebook'; /*a name to be used later*/
  src: url('/font/facebook.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'instagram'; /*a name to be used later*/
  src: url('/font/instagram.ttf'); /*URL to font*/
}

.fontFacebook {
  color: white;
  font: 500 20px/20px 'facebook', sans-serif;
  margin: 16px 0 9px 0;
}

.fontInstagram {
  color: white;
  font: 500 20px/20px 'instagram', sans-serif;
  margin: 16px 0 9px 0;
}

.fontTwitter {
  color: white;
  font: 500 20px/20px 'twitter', sans-serif;
  margin: 16px 0 9px 0;
}

.background-animate {
  background-image: url("https://lh5.googleusercontent.com/XXyGSVJrEYkLb4SjYkhtUBYt43YzRN9c2MRuTOwdlaDYJNqN9a5dBlSD4zFNsO1kHA1cLbKDGDHf9GsmYrj6QN40d4lhhJtrRaRNrpeLfs1-tHLP_SmxcNXN2GfRcFPxcA");
  background-size: cover;
  background-position: center;
}

.first {
  position: absolute;
  top: 50px;
}

.firstName {
  position: absolute;
  top: 100px;
}

.firstPrice {
  position: absolute;
  top: 115px;
}
.commentFace {
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    margin: 10px;
}

#imgSidenav {

    /*background: url("https://travelplanet.fr/images/logo/logo.png") center no-repeat;*/
		/*background: url("http://www.univ-lorraine.fr/sites/www.univ-lorraine.fr/files/node_files/publics/users/martin38/2013/10/isotype_ul.jpg") center no-repeat;*/

    background-size: contain;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin-left: 95px;
		margin-top: 20px;
		/*margin-bottom: -20px;
    border: 1px solid #ebebeb;*/
    box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
}
